#
# Nagios configuration for the RBLTracker Service
#
# https://rbltracker.com/
#

#
# The command to execute to check the RBLTracker service
#
define command{
        command_name    check-rbltracker
        command_line    $USER1$/check_rbltracker.sh $ARG1$ $ARG2$
        }

#
# This may or may not be required; this is a host template that does not
# have a default ping check.
#
# Since RBLTracker is a web service, we only want to be failures on the
# web request, and not a ping request.
#
define host{
        name                            noping-host    ; The name of this host template
        notifications_enabled           1       ; Host notifications are enabled
        event_handler_enabled           1       ; Host event handler is enabled
        flap_detection_enabled          1       ; Flap detection is enabled
        failure_prediction_enabled      1       ; Failure prediction is enabled
        process_perf_data               1       ; Process performance data
        retain_status_information       1       ; Retain status information across program restarts
        retain_nonstatus_information    1       ; Retain non-status information across program restarts
        max_check_attempts              10
        check_interval                  5
        notification_interval           0
        notification_period             24x7
        notification_options            d,u,r
        contact_groups                  admins
        register                        0       ; DONT REGISTER THIS DEFINITION - ITS NOT A REAL HOST, JUST A TEMPLATE!
        }

#
# a host configuration to monitor; this uses the "noping" host template above
#        
define host {
        use                     noping-host
        host_name               RBLTracker
        alias                   RBLTracker
        }

#
# a service check to monitor your account.
#
# ** remember to replace with ACXX string with your account SID, and the 0000 string
#    with the API token, both available from the RBLTracker portal ***
#
define service {
        use                     local-service
        host_name               RBLTracker
        service_description     RBLTracker Web Service Check
        check_command           check-rbltracker!ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX!0000000000000000000000000000000000000000000000000000000000000000
        }
